.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.todo-title {
  font-weight: bold;
  margin-top: auto;
}
